/*ФУТЕР*/
.adress,
.link-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-white-color;
  text-decoration: none;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
}
.join {
  text-transform: uppercase;
  padding-top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-white-color;
  margin-bottom: 20px;
}
.utils .link {
  margin-bottom: 9px;
}
.footer {
  background: #2f303a;
}
.footer-general {
  display: flex;
  align-content: center;
}
.footer-nav {
  width: 25%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-join {
  width: 25%;
  padding-top: 72px;
}
.join-list {
  display: flex;
}
.join-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list-item:not(:last-child) {
  margin-right: 10px;
}
.join-list-link:hover {
  background-color: $accent-color;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.subscribe {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-white-color;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 100px;
}
.subscribe-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: $footer-background-color;
  outline: none;
  margin-right: 12px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-mail::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 29px;
  min-width: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: $primary-white-color;
  background: $accent-color;
  border-radius: 4px;
  border: none;
}
.send-icon {
  fill: $primary-white-color;
  margin-left: 10px;
}
.send-form {
  display: flex;
  align-content: center;
  width: 50%;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 94px;
}
