/* HERO секция */

.hero-box {
  align-items: center;
  text-align: center;
  margin: 0px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../Images/Foto/Header.jpg);
  background-position: center;
  background-size: auto;
}
.hero-title {
  text-transform: uppercase;
  padding-top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: $primary-white-color;
  margin-bottom: 30px;
}
